<div class="modal fade" id="success-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <!-- Add bg-danger class for red background and text-white class for white text -->
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Information:</h1> <!-- Change modal title to "Error" -->
        <!-- <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button> Add btn-close-white class for white close button -->
      </div>
      <div id="successMessagePlaceholder" class="modal-body ">
        <!-- Add text-danger class for red text -->
        FLASH MESSAGE HERE!
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger">OK</button> -->
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Understood</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="error-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <!-- Add bg-danger class for red background and text-white class for white text -->
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Information</h1> <!-- Change modal title to "Error" -->
        <!-- <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button> Add btn-close-white class for white close button -->
      </div>
      <div id="errorMessagePlaceholder" class="modal-body ">
        <!-- Add text-danger class for red text -->
        ERROR MESSAGE HERE!
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger">OK</button> -->
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Understood</button>
      </div>
    </div>
  </div>
</div>