<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center mb-4">Create your account</h1>
  <div class="col-md-6 offset-md-3 mb-5">


      <div class="row mb-3">
        <a class="mx-1 d-grid col btn btn-primary" href="#"
          >VOTE STANDING</a
        >
        <a class="mx-1 d-grid col btn btn-danger" href="#"
          >MASTER RESET</a
        >
      </div>

      <div class="row mb-3">
        <a class="mx-1 d-grid col btn btn-success" href="#"
          >MANAGE VOTERS</a
        >
        <a class="mx-1 d-grid col btn btn-primary" href="/users"
          >ADMIN / FACILITOR</a
        >
      </div>

      <div class="row mb-3">
        <a class="mx-1 d-grid col btn btn-dark" href="#"
          >CANDIDATES</a
        >
        <a class="mx-1 d-grid col btn btn-warning" href="#"
          >SETTING</a
        >
      </div>

    </div>
  </div>
</div>
