<!-- MODAL: VOTING INSTRUCTIONS -->
<div class="modal fade" id="help" aria-hidden="true" aria-labelledby="helpLabel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title fs-5 text-body-secondary" id="helpLabel">
          HELP
        </h1>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center text-primary">INSTRUCTIONS</h5>
            <hr />
            <div class="card-text row">
              <p class="col-2">Step 1:</p>
              <p class="col">
                Enter your Username and Password given by your Facilitator then
                click "PROCEED".
              </p>
            </div>
            <hr />
            <div class="card-text row">
              <p class="col-2">Step 2:</p>
              <p class="col">
                Select your prefered candidates by clicking the "Select
                Candidate", choose them from Left to Right, please choose wisely
                then click "CAST MY VOTE".
              </p>
            </div>
            <hr />
            <div class="card-text row">
              <p class="col-2">Step 3:</p>
              <p class="col">
                You'll be shown your choosen candidates, please review your
                candidates first before clicking "CONFIRM VOTE". if your done
                click "CONFIRM VOTE".
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END OF MODAL: VOTING INSTRUCTIONS -->