<% layout('layouts/boilerplate') %>
<div class="container">
  <h3 class="text-center mb-4">Welcome, <%= loggedInVoter.fullName %></h3>
  <div class="row">
    <!-- 1================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">PRESIDENT</h5>
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: "
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select
            class="form-select"
            aria-label="Default select example"
            id="accountType"
          >
            <option selected value="0">Select Candidate</option>
            <option value="Administrator">Administrator</option>
            <option value="Facilitator">Facilitator</option>
          </select>
        </div>
      </div>
    </div>
    <!-- 2================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">VP-INTERNAL</h5>

        <svg class="card-img-top" width="100%" height="200" focusable="false">
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>

        <div class="card-body p-0">
          <select
            class="form-select"
            aria-label="Default select example"
            id="accountType"
          >
            <option selected value="0">Select Candidate</option>
            <option value="Administrator">Administrator</option>
            <option value="Facilitator">Facilitator</option>
          </select>
        </div>
      </div>
    </div>
    <!-- 3================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">VP-EXTERNAL</h5>
        <svg class="card-img-top" width="100%" height="200" focusable="false">
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select
            class="form-select"
            aria-label="Default select example"
            id="accountType"
          >
            <option selected value="0">Select Candidate</option>
            <option value="Administrator">Administrator</option>
            <option value="Facilitator">Facilitator</option>
          </select>
        </div>
      </div>
    </div>
    <!-- 4================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">AUDITOR</h5>
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: "
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select
            class="form-select"
            aria-label="Default select example"
            id="accountType"
          >
            <option selected value="0">Select Candidate</option>
            <option value="Administrator">Administrator</option>
            <option value="Facilitator">Facilitator</option>
          </select>
        </div>
      </div>
    </div>
    <!-- 5================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">TREASURER</h5>
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: "
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select
            class="form-select"
            aria-label="Default select example"
            id="accountType"
          >
            <option selected value="0">Select Candidate</option>
            <option value="Administrator">Administrator</option>
            <option value="Facilitator">Facilitator</option>
          </select>
        </div>
      </div>
    </div>
    <!-- 6================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">SECRETARY</h5>
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: "
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select
            class="form-select"
            aria-label="Default select example"
            id="accountType"
          >
            <option selected value="0">Select Candidate</option>
            <option value="Administrator">Administrator</option>
            <option value="Facilitator">Facilitator</option>
          </select>
        </div>
      </div>
    </div>
    <!-- 7================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">PRO</h5>
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: "
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select
            class="form-select"
            aria-label="Default select example"
            id="accountType"
          >
            <option selected value="0">Select Candidate</option>
            <option value="Administrator">Administrator</option>
            <option value="Facilitator">Facilitator</option>
          </select>
        </div>
      </div>
    </div>
    <!-- 8================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">
          1ST YR REPRESENTATIVE
        </h5>
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: "
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select
            class="form-select"
            aria-label="Default select example"
            id="accountType"
          >
            <option selected value="0">Select Candidate</option>
            <option value="Administrator">Administrator</option>
            <option value="Facilitator">Facilitator</option>
          </select>
        </div>
      </div>
    </div>
    <!-- 9================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">
          2ND YR REPRESENTATIVE
        </h5>
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: "
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select
            class="form-select"
            aria-label="Default select example"
            id="accountType"
          >
            <option selected value="0">Select Candidate</option>
            <option value="Administrator">Administrator</option>
            <option value="Facilitator">Facilitator</option>
          </select>
        </div>
      </div>
    </div>
    <!-- 10================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">
          3RD YR REPRESENTATIVE
        </h5>
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: "
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select
            class="form-select"
            aria-label="Default select example"
            id="accountType"
          >
            <option selected value="0">Select Candidate</option>
            <option value="Administrator">Administrator</option>
            <option value="Facilitator">Facilitator</option>
          </select>
        </div>
      </div>
    </div>
    <!-- 11================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">
          4TH YR REPRESENTATIVE
        </h5>
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: "
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select
            class="form-select"
            aria-label="Default select example"
            id="accountType"
          >
            <option selected value="0">Select Candidate</option>
            <option value="Administrator">Administrator</option>
            <option value="Facilitator">Facilitator</option>
          </select>
        </div>
      </div>
    </div>
    <!-- BUTTONS================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <h5 class="card-title text-center py-2 text-white bg-secondary">
          OPTIONS
        </h5>

        <div class="row card-body d-grid gap-2 px-5">
          <div id="vote-button" class="btn btn-dark mb-3 px-auto">
            CAST MY VOTE
          </div>
          <div id="reset-button" class="btn btn-dark mb-3 px-auto">RESET</div>
          <div
            id="help-button"
            class="btn btn-dark mb-3 px-auto"
            data-bs-toggle="modal"
            data-bs-target="#help"
          >
            HELP
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Vertically centered scrollable modal -->
<div
  class="modal fade"
  id="help"
  aria-hidden="true"
  aria-labelledby="helpLabel"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title fs-5 text-body-secondary" id="helpLabel">
          HELP
        </h1>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center text-primary">INSTRUCTIONS</h5>
            <hr />
            <div class="card-text row">
              <p class="col-2">Step 1:</p>
              <p class="col">
                Enter your Username and Password given by your Facilitator then
                click "PROCEED".
              </p>
            </div>
            <hr />
            <div class="card-text row">
              <p class="col-2">Step 2:</p>
              <p class="col">
                Select your prefered candidates by clicking the "Select
                Candidate", choose them from Left to Right, please choose wisely
                then click "CAST MY VOTE".
              </p>
            </div>
            <hr />
            <div class="card-text row">
              <p class="col-2">Step 3:</p>
              <p class="col">
                You'll be shown your choosen candidates, please review your
                candidates first before clicking "CONFIRM VOTE". if your done
                click "CONFIRM VOTE".
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
  $(document).ready(function () {
    $("#vote-button").click(function (event) {
      // Modal for confirm votes
    });

    $("#reset-button").click(function (event) {
      window.location.reload();
    });

    $("#help-button").click(function (event) {
      event.preventDefault();
      // Modal for help
    });
  });
</script>
