<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mb-5">

      <div class="card">
        <h4 class="text-center py-1 bg-dark text-white">Additional</h4>
        <div class="card-body">
          <div class="row ">
            <div class="col my-3 d-grid">
              <button
              class="btn btn-dark"
              id="parties-button"
              type="button"
            >
              Parties
            </button>
            </div>

            <div class="col my-3 d-grid"">
              <button
              class="btn btn-dark"
              id="courses-button"
              type="button"
            >
              Courses
            </button>
            </div>
          </div>

          <div class="row ">
            <div class="col-6 my-3 d-grid">
              <button
              class="btn btn-dark"
              id="parties-button"
              type="button"
            >
              Update Title
            </button>
            </div>

          </div>

        </div>
      </div>

      <hr />
      <div class="row">
        <a class="mb-3 text-center" href="/">Back to main page</a>
      </div>
    </ddiv>
  </div>
</div>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script>
  $(document).ready(function () {

    $("#parties-button").click(function (event) {
      event.preventDefault();
      window.location.href = `/parties`;
    });

    $("#courses-button").click(function (event) {
      event.preventDefault();
      window.location.href = `/courses`;
    });

  });
</script>
