<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="row">
    <h1 class="text-center mb-4">Titles</h1>
    <div class="col-md-6 offset-md-3 mb-5">
      <div class="mb-3">
        <label class="form-label" for="Id">Current Title: </label>
        <input class="form-control" type="text" id="Id" required disabled />
      </div>
      <div class="mb-3">
        <label class="form-label" for="mainTitle">Update Title: </label>
        <input class="form-control" type="text" id="mainTitle" required />
        <div class="invalid-feedback">Please provide the application title</div>
      </div>

      <div class="row">
        <div class="col mb-5 d-grid">
          <button class="btn btn-primary" id="edit-button" type="button" >
            Update Title
          </button>
        </div>
      </div>

      <!-- // Data Table -->
      <div class="card">
        <div class="card-body">
          <h3 class="text-center ">Additionals</h3>
          <div class="row ">
            <div class="col my-3 d-grid">
              <button
              class="btn btn-dark"
              id="parties-button"
              type="button"
            >
              Parties
            </button>
            </div>

            <div class="col my-3 d-grid"">
              <button
              class="btn btn-dark"
              id="courses-button"
              type="button"
            >
              Courses
            </button>
            </div>
          </div>

        </div>
      </div>

      <hr />
      <div class="row">
        <a class="mb-3 text-center" href="/">Back to main page</a>
      </div>
    </div>
  </div>
</div>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script>
  $(document).ready(function () {
   



    $("#parties-button").click(function (event) {
      event.preventDefault();
      window.location.href = `/parties`;
    });

    $("#courses-button").click(function (event) {
      event.preventDefault();
      window.location.href = `/courses`;
    });

  });
</script>
