<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center mb-4">Create your account</h1>
  <div class="col-md-6 offset-md-3 mb-5">
    <form action="/users" method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="yearLevel" for="roles"
          >Account type:
        </label>
        <select
          class="form-select"
          id="roles"
          name="user[role]"
          aria-label="Default select example"
        >
          <!-- <option selected>Choose account type</option> -->

          <% for(let role of roles) { %>
          <option value="<%= role %>"><%= role %></option>
          <% } %>
        </select>
        <div class="invalid-feedback">Choose your account type</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="fullName">Full name: </label>
        <input
          class="form-control"
          type="text"
          name="user[fullName]"
          id="fullName"
          placeholder="eg. John Doe"
          required
        />
        <div class="invalid-feedback">Please provide your full name</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="username">Username: </label>
        <input
          class="form-control"
          type="text"
          name="user[username]"
          id="username"
          placeholder="Create a username"
          required
        />
        <div class="invalid-feedback">Please provide your username</div>
      </div>

      <!-- PASSWORD : -->
      <div class="mb-3">
        <label class="form-label" for="password">Password: </label>
        <input
          class="form-control"
          type="password"
          name="user[password]"
          id="password"
          placeholder="Create a password"
          required
        />
        <div class="invalid-feedback">Please provide a valid password</div>
      </div>
      <!-- <div class="mb-3">
        <label class="form-label" for="lastName">Re-enter Password: </label>
        <input
          class="form-control"
          type="password"
          name="user[lastName]"
          id="lastName"
          placeholder="Must match the password"
          required
        />
        <div class="invalid-feedback">Must match the password-field</div>
      </div> -->

      <div class="mb-3 d-grid">
        <button class="btn btn-dark">Create Account</button>
      </div>
    </form>
    <hr />
    <div class="row">
      <a class="mb-3 text-center" href="/users">Back to all accounts</a>
    </div>
  </div>
</div>
